body {
    font-family: sans-serif;
    background: #FBFBFB;
}

/*input tag */
.title {
    font-size: calc(14px + 1.5vw);
    width: 50%;
    display: inline-block;
    border: none;
    background-color: #FBFBFB;
    border-bottom: 1px #D3D3D3 solid;
    outline: none;
    height: 40px;
}

/*input tag */
.numberOfPhotos {
    width: 50%;
    font-size: calc(18px + 1.5vw);
    display: inline-block;
    border: none;
    background-color: #FBFBFB;
    border-bottom: 1px #D3D3D3 solid;
    outline: none;
    height: 40px;
}

.userRemoveButton {
    float: right;
    padding: 10px 20px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.userRemoveButton:hover {
    opacity: 0.8;
    background: #F44336;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;
}

.user {
    text-align: center;
    padding: 14px 16px;
    width: 70%;
}

.newUser {
    padding: 10px 20px;
}
.newUser:focus, .cancelButton:focus, .saveButton:focus, .userRemoveButton:focus, .removeFeedButton:focus, .addUserButton:focus {
    outline: none;
}

.addUserContainer {
   text-align: center;
    padding: 14px 16px;
    width: 70%; 
}
.addUserButton {
    float: right;
    padding: 10px 20px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.addUserButton:hover {
    opacity: 0.8;
    background: #4CAF50;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;
}

.saveContainer {

}

.saveButton {
    padding: 12px 30px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
    margin-right: 5px;
}
.saveButton:hover {
    opacity: 0.6;
    background: #3897F0;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;
}

.cancelButton {
    padding: 12px 30px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.cancelButton:hover { 
    opacity: 0.8;
    background: #E0E0E0;
    transition: all 0.3s;
    cursor: pointer;
}

.removeFeedButton {
    margin-top: 5px;
    padding: 10px 20px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.removeFeedButton:hover {
    opacity: 0.8;
    background: #F44336;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;  
}