body {
    font-family: sans-serif;
    background: #FBFBFB;
}

.titleContainer {
    font-size: calc(20px + 1.5vw);
}

.title {
    width: 50%;
    display: inline-block;
}
.numberOfPhotos {
    width: 50%;
    display: inline-block;
}

.userRemoveButton {
    float: right;
    padding: 10px 20px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.userRemoveButton:hover {
    opacity: 0.8;
    background: #F44336;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;
}

.user {
    text-align: center;
    padding: 14px 16px;
    width: 70%;
}

.addUserContainer {
   text-align: center;
    padding: 14px 16px;
    width: 70%; 
}
.addUserButton {
    float: right;
    padding: 10px 20px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.addUserButton:hover {
    opacity: 0.8;
    background: #4CAF50;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;
}

.saveContainer {

}

.saveButton {
    padding: 12px 30px;
    background: #FBFBFB;
    border: 1px #D3D3D3 solid;
    font-size: 14px;
}
.saveButton:hover {
    opacity: 0.6;
    background: #3897F0;
    color: #FBFBFB;
    transition: all 0.3s;
    cursor: pointer;
}