body {
    font-family: sans-serif;
    background: #FBFBFB;
}
/* hide veritcal scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* container that holds each image feed for a group */
.allImageFeeds {
    overflow-x: scroll;
    white-space: nowrap; /* give the feel of unlimited width */
}

/* custom horizontal scrollbar */
.allImageFeeds::-webkit-scrollbar {
    height: 5px;
}
.allImageFeeds::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
}

/* individual image feed, content of .allImageFeeds */
.imageFeed {
    padding: 5px; /* give a little space between feeds */
    text-align: center;
    display: inline-block; /* horizontal scrolling */
    width: 95vw; /* 95% of viewport width */
    /*border: 1px solid #EEEEEE;*/
    vertical-align: top; /* feed might vary in height, align them all from the top of window */
}

.imageFeedHeader {
    border-bottom: 1px solid #EEEEEE;
}
.imageFeedHeader > h1 {
    font-weight: 200;
}

.instagramImage {
    text-align: left;
    width: 100%;
    margin-bottom: 15px; /* give a little breathing room for each image */
    border-bottom: 1px #D3D3D3 solid;
}
.instagramImage > img {
    width: 100%;
    height: auto;
    vertical-align: middle; /* remove white padding at bottom of img tag */
}
.instagramImage > button {
    display: block;
    width: 100%;
}
#likeButton {
    height: 30px;
    border: none;
    background-color: #FBFBFB;
    width: 30px;
}
/* heart svg used inside button */
.likeButton {
    height: 30px;
    width: auto;
    vertical-align: middle;
}
.likeButton:hover {
    cursor: pointer;
}
#likeButton:focus,
#likebutton > img:focus {
    outline: 0 !important; /* remove blue border on focus/click */
}
.instagramImage > span {
    white-space:normal;
    word-wrap: break-word;
}
#imageCaption { 
    font-weight: 200;
    font-size: 14px;
}

img.heart {
    fill: red;
}

#editIcon:hover {
    cursor: pointer;
}